h1{
  font-family: 'Black Ops One', cursive;
  color: white;
  font-size: 48px;
  font-weight: bold;
}

body {
  font-family: 'Iceland', cursive;
  background-image: url("productivity.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: bold;
  font-size: 24px;
  color: black;
  margin-left: 20px;
}

input[type=text], select {
    size: 100% 100%;
    padding: 6px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: 'Iceland';
    font-size: 18px;
    resize: vertical;
    text-transform: uppercase;
}

input[type=submit] {
    width: 100%;
    background-color: #5F9EA0;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    resize: vertical;
}

input[type=submit]:hover {
    background-color: white;
}

div {
    border-radius: 10px;
    background-color:#ffffff;
    padding: 5px;
    opacity: 0.8;
    text-transform: uppercase;
  }

  form {
    width: 30%;
    height: 10%;
    color: black;
    font-family: 'Iceland', cursive;
    font-weight: bold;
  }

   .existing-list {
    color: red;
  }

  
